@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div id="sidebar"  class="span3 bs-docs-sidebar">
    </div>
    <div id="content"  class="span9">
    </div>
</div>
<script src="../../Scripts/jquery-1.8.3.js" type="text/javascript"></script>
<script src="../../Scripts/underscore.js" type="text/javascript"></script>
<script src="../../Scripts/backbone.js" type="text/javascript"></script>
<script src="../../Scripts/Models/UserModel.js"></script>
<script src="../../Scripts/Views/SearchView.js"></script>
<script src="../../Scripts/Views/HeaderView.js"></script>
<script src="../../Scripts/Views/UserListItemView.js"></script>
<script src="../../Scripts/Views/PaginatorView.js"></script>
<script src="../../Scripts/Views/UsersListView.js"></script>
<script src="../../Scripts/Views/UserDetailsView.js"></script>
<script src="../../Scripts/utils.js" type="text/javascript"></script>
<script src="../../Scripts/_myapp.js" type="text/javascript"></script>
